<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://github.com/KVM-VMI/kvm-vmi">KVM-VMI</a>
      <a class="sidebar-nav-item" href="https://github.com/{{ site.github_username }}">GitHub</a>
      <a class="sidebar-nav-item" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    </nav>
  </div>
</div>
